.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
tsconfig.test.json
.editorconfig
.prettierrc
.vscode-test.mjs
eslint.config.mjs
scripts/**
.github/**
