# Directories
.claude/
.github/
.vscode/
.vscode-test/
blogs/
docs/
node_modules/
scripts/
src/
test/

# Files
.editorconfig
.gitignore
.mcp.json
.prettier*
eslint*
.vscode-test.mjs
.vscodeignore
CLAUDE.md
esbuild*
tsconfig*.json
